<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276925683318-e3lerq937jkqonbn5nv54q06cipodf6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276925683318-e3lerq937jkqonbn5nv54q06cipodf6e</string>
	<key>API_KEY</key>
	<string>AIzaSyCncgDwbDZLLnn3X4YiXMQuVmG3MSxCwPI</string>
	<key>GCM_SENDER_ID</key>
	<string>276925683318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.playsportsnetwork.tourmalet</string>
	<key>PROJECT_ID</key>
	<string>content-curator-96062</string>
	<key>STORAGE_BUCKET</key>
	<string>content-curator-96062.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276925683318:ios:a7554399919c218c</string>
	<key>DATABASE_URL</key>
	<string>https://content-curator-96062.firebaseio.com</string>
</dict>
</plist>